<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，和接口关联-->
<mapper namespace="net.wanhe.mapper.UserMapper">


    <insert id="addUser">
        INSERT  into user VALUES (NULL ,#{username},#{password},#{salt})
    </insert>
    <select id="getUserByName" resultType="net.wanhe.pojo.User">
        select * from user WHERE username=#{username}
    </select>
    <select id="getAllUsers" resultType="net.wanhe.pojo.User">
        SELECT username FROM user
    </select>

</mapper>